<div class="auth-container">
    <div class="auth-card animate__animated animate__fadeInUp">
        <h3 class="text-center mb-4">Cambiar Contraseña</h3>
        <form [formGroup]="changePasswordForm">
            <div class="form-floating mb-3">
                <input 
                type="password" 
                class="form-control" 
                id="registerPassword" 
                placeholder="Contraseña"
                formControlName="password"
                [ngClass]="{
                    'is-invalid': isInvalid('password'),
                    'is-valid': isValid('password')
                }"
                >
                <label for="registerPassword">Contraseña</label>
                <small *ngIf="isInvalid('password')" class="text-danger">
                La contraseña es obligatoria
                </small>
            </div>
            <div class="form-floating mb-3">
                <input 
                type="password" 
                class="form-control" 
                id="registerConfirmPassword" 
                placeholder="Contraseña"
                formControlName="confirmPassword"
                [ngClass]="{
                    'is-invalid': isInvalid('confirmPassword'),
                    'is-valid': isValid('confirmPassword')
                }"
                >
                <label for="registerConfirmPassword">Repetir Contraseña</label>
                <div>
                    <small *ngIf="isInvalid('confirmPassword')" class="text-danger">
                        La contraseña es obligatoria
                    </small>
                </div>
                <div>
                    <small *ngIf="isMatchPassword()" class="text-danger">
                        Las contraseñas no son iguales
                    </small>
                </div>
            </div>
            <div class="d-flex flex-column gap-3" >
                <app-button text="Cambiar Contraseña" type="primary" [fullWidth]="true" (onClick)="changePassword()" />
                <app-button text="Iniciar Sesión" type="success" [fullWidth]="true" (onClick)="redirectTo('/auth/login')" />
            </div>
        </form>
    </div>
</div>