<table class="table table-striped mt-5">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Email</th>
			<th scope="col">Ciudad</th>
			<th scope="col">Profesión</th>
			<th scope="col">Opciones</th>
		</tr>
	</thead>
	<tbody>
		@for (item of data; track item.name; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ item.name }}</td>
				<td>{{ item.email }}</td>
				<td>{{ item.city }}</td>
				<td>{{ item.profession }}</td>
				<th>
					<app-button icon="eye" (onClick)="viewCV(item.email)" />
				</th>
			</tr>
		}
	</tbody>
</table>