<div class="auth-container">
    <div class="auth-card animate__animated animate__fadeInUp">
        <h3 class="text-center mb-4">Registrarse</h3>
        <form [formGroup]="registerForm">
            <div class="form-floating mb-3">
                <input 
                type="email" 
                class="form-control" 
                id="registerEmail" 
                placeholder="Correo"
                formControlName="email"
                [ngClass]="{
                    'is-invalid': isInvalid('email'),
                    'is-valid': isValid('email')
                }"
                >
                <label for="registerEmail">Correo electrónico</label>
                <small *ngIf="isInvalid('email')" class="text-danger">
                    El email es obligatorio
                </small>
            </div>
            <div class="form-floating mb-3">
                <input 
                type="text" 
                class="form-control" 
                id="registerName" 
                placeholder="Nombre"
                formControlName="name"
                [ngClass]="{
                    'is-invalid': isInvalid('name'),
                    'is-valid': isValid('name')
                }"
                >
                <label for="registerName">Nombre</label>
                <small *ngIf="isInvalid('name')" class="text-danger">
                El nombre es obligatorio
                </small>
            </div>  
            <div class="form-floating mb-3">
                <select 
                    class="form-select" 
                    formControlName="role"
                    [ngClass]="{
                        'is-invalid': isInvalid('role'),
                        'is-valid': isValid('role')
                    }">
                    <option value="" selected>Seleccione el Rol</option>
                    @for(userRole of userRoles; track userRole){
                        <option [value]="userRole">{{ userRole | titlecase }}</option>
                    }
                </select>
                <label for="registerName">Rol</label>
                <small *ngIf="isInvalid('role')" class="text-danger">
                    El rol es obligatorio
                </small>
            </div>  
            <div class="form-floating mb-3">
                <input 
                type="password" 
                class="form-control" 
                id="registerPassword" 
                placeholder="Contraseña"
                formControlName="password"
                [ngClass]="{
                    'is-invalid': isInvalid('password'),
                    'is-valid': isValid('password')
                }"
                >
                <label for="registerPassword">Contraseña</label>
                <small *ngIf="isInvalid('password')" class="text-danger">
                    La contraseña es obligatoria
                </small>
            </div>
            <div class="form-floating mb-3">
                <input 
                type="password" 
                class="form-control" 
                id="registerConfirmPassword" 
                placeholder="Contraseña"
                formControlName="confirmPassword"
                [ngClass]="{
                    'is-invalid': isInvalid('confirmPassword'),
                    'is-valid': isValid('confirmPassword')
                }"
                >
                <label for="registerConfirmPassword">Repetir Contraseña</label>
                <div>
                    <small *ngIf="isInvalid('confirmPassword')" class="text-danger">
                        La contraseña es obligatoria
                    </small>
                </div>
                <div>
                    <small *ngIf="isMatchPassword()" class="text-danger">
                        Las contraseñas no son iguales
                    </small>
                </div>
            </div>
            <div class="d-flex flex-column gap-3" >
                <app-button text="Crear Cuenta" type="primary" [fullWidth]="true" (onClick)="register()" />
                <app-button text="Iniciar Sesión" type="success" [fullWidth]="true" (onClick)="redirectTo('/auth/login')" />
            </div>
        </form>
    </div>
</div>