main {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;

}

.content-layout {
    display: grid;
    grid-template-columns: 15% 85%;
    overflow: hidden;
}

app-dashboard {
    min-height: 0;
}